USER_SERVICE_URL=http://user-service:3030
SERVICE_ID=47496d92-ce34-46db-92d1-b0ab5c71ab17
SERVICE_SECRET=unsecure
NEXTAUTH_URL=http://beta.tko-aly.localhost
EVENTS_API_BASE_URL=http://events-microservice:3040
EVENT_SERVICE_TOKEN=secret
AUTH_DEBUG=true
AUTH_SECRET=unsecure
PUBLIC_URL=http://beta.tko-aly.localhost