#calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 80rem;
    margin: 0 auto;
    background-color: #141414;
    padding: 20px;
    color: #ffbb00;
}

.fc {
    width: 60%;
    height: 60%;
    background-color: #141414;
}

a.fc-event {
    text-decoration: none;
    color: #ffbb00;
}

#calendar-instructions {
    width: 60%;
    margin-top: 20px;
    color: #ffbb00;
    font-size: 1.2rem;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    font-size: 32px;
}

#legend {
    display: flex;
    flex-direction: column;
    border: dotted 2px #ffbb00;
    font-size: 12px;
}

#legend p {
  margin: 3px 5px;
  display: flex;
  align-items: center;
}

.legend-color-ball {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

#calendar-control-bar {
    width: 60%;
    display: flex;
    margin-bottom: 10px;
}

.view-toggle-button {
    background-color: #2c3e50;
    border-color: #2c3e50;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 0.25em;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.4em 0.65em;
    text-align: center;
    user-select: none;
    vertical-align: middle;
}

.view-toggle-button:hover {
    background-color: #1a252f;
    border-color: #151e27;
    color: #fff;
    cursor: pointer;
}

.view-toggle-active {
    background-color: #1a252f;
    border-color: #151e27;
    color: #fff;
}