.submitButton,
.resetButton {
  border-bottom: 4px solid var(--neutral-900);
  border-right: 4px solid var(--neutral-900);
  border-top: 2px solid var(--neutral-200);
  border-left: 2px solid var(--neutral-200);
  padding: var(--space-4) var(--space-8);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  cursor: pointer;
  transition:
    box-shadow 0.1s ease,
    transform 0.1s ease;
}

.submitButton {
  color: var(--neutral-900);
  background-color: var(--yellow);
  box-shadow: var(--shadow);
}

.resetButton {
  color: var(--color-text);
  background-color: transparent;
  margin-right: var(--space-4);
  box-shadow: 4px 4px 0 0 var(--neutral-200);
}

.submitButton:hover {
  background-color: var(--yellow-300);
}

.submitButton:active {
  background-color: var(--yellow-700);
  box-shadow: 0px 0px 0px 0px #000000;
  transform: translate(4px, 4px);
}

.resetButton:hover {
  background-color: #fff1;
}

.resetButton:active {
  background-color: var(--color-bg);
  box-shadow: 0px 0px 0px 0px #000000;
  transform: translate(4px, 4px);
}

.bottomBar,
.bottomBarInner {
  background: var(--color-bg);
}

/* Screen size md */
@media screen and (max-width: 768px) {
  .bottomBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 4px dotted hsl(50, 15%, 60%);
    padding: 1rem;
    z-index: 50;
  }

  .bottomBarInner {
    max-width: var(--screen-xs);
    margin: 0 auto;
    display: flex;
  }

  .submitButton {
    flex-grow: 1;
    padding: 1rem;
    font-size: 1.125rem;
  }
}

/* Screen size xs */
@media screen and (max-width: 480px) {
  .submitButton {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .resetButton {
    padding: var(--space-4);
  }
}

@media (prefers-color-scheme: light) {
  .bottomBar {
    background-color: #ffffff;
    border-top-color: #000000;
  }

  .submitButton,
  .resetButton {
    border-color: #000000;
    box-shadow: var(--shadow);
  }

  .resetButton {
    box-shadow: 4px 4px 0 0 var(--neutral-900);
  }

  .resetButton:hover:not(:active) {
    background-color: #ffff;
  }
}
