/* Navigation container */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--space-16);
  padding: 0 var(--space-6);
}

.navbar li {
  list-style: none;
}

/* Primary navigation links */
.primaryList {
  padding: 0 var(--space-6);
  display: flex;
  gap: var(--space-2);
}

.secondaryActionList {
  display: flex;
  gap: var(--space-2);
}

.dropdownToggle {
  color: var(--neutral-900);
  padding: var(--space-4) var(--space-2);
  font-weight: bold;
  font-family: monospace;
  font-size: large;
  text-transform: uppercase;
  background: transparent;
  border: none;
  cursor: pointer;
}

.dropdownMenu a:hover,
.navItem a:hover,
.dropdownToggle:hover {
  background: var(--yellow-600);
}

.dropdownMenu a:focus,
.navItem a:focus,
.dropdownToggle:focus {
  background: var(--yellow-700);
}

/* Dropdowns */
.navItem {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  left: 0;
  min-width: var(--space-60);
  padding: var(--space-2);
  background: var(--yellow);
  font-family: monospace;
  font-size: large;
  display: none;
}

/* Show dropdown on focus or when a child element is focused */
.navItem:focus .dropdownMenu,
.navItem:focus-within .dropdownMenu {
  display: block;
}

.dropdownMenu li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: var(--space-2);
}

/* User dropdown */
.userDropdownMenu {
  left: auto;
  right: 0;
}

/* White profile button */
.whiteButton {
  height: var(--space-12);
  width: var(--space-12);
  background: var(--neutral-50);
  color: var(--neutral-900);
  box-shadow: 3px 3px 0 var(--neutral-900);
  border: 3px solid var(--neutral-900);
  transition: all 0.1s ease-in-out;
}

.whiteButton:hover {
  background: var(--white);
}

.whiteButton:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0 var(--neutral-900);
  background: var(--neutral-200);
}
