a:visited {
    color: inherit;
}

body {
    background-color: #141414;
    font-family: Georgia, serif;
    margin: 0;
}

#main-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0px;
}

#content {
    width: 740px;
    padding: 0 30px 0 30px;
}

/* @fullcalendar styles */
.fc {
    width: 60%;
    height: 60%;
    background-color: #141414;
}

a.fc-event {
    text-decoration: none;
    color: #ffbb00;
}