html, body {
  height: 100vh;
  overflow-x: hidden;
}

#splash-img {
  position: flex;
  height: 500px;
  width: auto;
  background-position: center top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  filter: opacity(40%) blur(1px);
  z-index: -1;
}

#index-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  height: 120px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-bottom: 200px;
  filter: drop-shadow(2px 4px 6px black);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#index-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 1s;
}

#index-text {
  text-align: center;
  color: #fff500;
  font-family: 'Arial', sans-serif;
  font-size: 40px;
  margin-top: 40px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 2s;
}

#index-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 50px;
}

#index-content {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: white;
  font-family: 'Arial', sans-serif;
  margin-top: 50px;
}

.diagonal-div {
  width: 100%;
  height: 400px;
  background-color: #FFCC33;
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
}

.diagonal-div p {
  line-height: 2;
  font-size: 20px;
}